rich
protobuf==3.20.1
cassandra-driver==3.25.0
kubernetes
boto3
botocore
tensorflow==2.8.0
matplotlib
pandas
psutil
scikit-learn
influxdb_client
codecarbon
importlib_resources
/SDK/featurestoresdk_main/.
/SDK/modelmetricssdk_main/.